---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="max-w-2xl mx-auto prose dark:prose-invert animate-fade-in">
    <h1>About Me</h1>
<ul>
  <li>
    <strong>Reading:</strong> <a href="https://www.amazon.co.uk/Why-We-Die-Science-Immortality/dp/152936924X">Why We Die</a> by Venki Ramakrishnan to learn more about ageing, consciousness & biology.
  </li>
  <li>
    <strong>Building:</strong> <a href="https://leftwriteai.com">Leftwrite AI</a> in my free time.
  </li>
  <li>
    <strong>Writing:</strong> I publish my thoughts on <a href="https://shortdecades.com">Substack</a> every week.
  </li>
</ul>


    <h2>More Writing</h2>
<p>I occasionally <a href="https://t18e.com">write</a> about startups I admire & my learnings as a first-time founder.</p>

    <h2>Projects</h2>
<ul style="list-style-type: circle;">
  <li>
    <strong>Brade:</strong> A plug-and-play automated accounting tool for the beauty service industry. Salons currently pay accountants to manage their finances and help file their taxes; we built Brade to do this at 1/10th of the cost in 1/1000th of the time.
  </li>
  <li>
    <strong>Almanac:</strong> A Reddit-style forum for alumni Q&As, mentorship & career networking. I built this for my alma mater and should launch this early next year.
  </li>
  <li>
    <strong>Frugal Friday:</strong> A simple tool to monitor my spending limit on Black Friday. A few friends also found it useful.
  </li>
  <li>
    <strong>Lean Screen:</strong> A simple tool to help me calculate my annualised screen time. LS was largely inspired by GitHub’s commit tracker.
  </li>
</ul>
  </div>
</Layout>
