---
import Header from '../components/Header/Header.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-white text-black dark:bg-black dark:text-white antialiased">
    <Header />
    <main class="max-w-3xl mx-auto px-4 py-12">
      <slot />
    </main>
  </body>
</html>
